<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../../img/skymarland.png" type="image/x-icon">
    <link rel="stylesheet" href="../../style/pc24.css">
    <title>Cessna 182T G1000</title>
</head>
<body>
    <header class="nav1">
        <nav class="nav2">
            <a href="../../../index.html"> <img src="../../img/home.png" alt="Home SkyMarLand" height="15px" class="logonav">Acceuill</a>
            <a href="../location.html"> <img src="../../img/rent.png" alt="Rent SkyMarLand" height="15px" class="logonav">Location</a>
            <a href="../login.html"> <img src="../../img/login.png" alt="Login SkyMarLand" height="15px" class="logonav"> Login/Register</a>
            <a href="../contact.html"> <img src="../../img/contactmail.png" alt="Contact SkyMarLand" height="15px" class="logonav">Contact</a>
        </nav>
    </header>
    
 
        <img src="../../img/cessna182.jpg" alt="" style="width: 100%; height: auto;">


        <div class="description24">

            <h2>Cessna 182T G1000</h2>

            <p>


            The Cessna 182T G1000 is a single-engine aircraft produced by Cessna Aircraft Company. The aircraft was introduced in 1956 and is the second most popular Cessna model after the 172. The 182T is a high-wing monoplane with a tricycle landing gear and a bubble canopy. 
            The aircraft is powered by a Lycoming IO-540 six-cylinder engine and has a range of 930 nautical miles (1,720 km). The 182T can carry up to four passengers and has a maximum cruise speed of 145 knots (270 km/h). The aircraft is certified for day and night VFR and IFR flight and has a full glass cockpit with Garmin G1000 avionics. 
            The 182T is known for its versatility, performance, and reliability, and has been well received by private pilots and flight schools around the world.


            </p>
        </div>


        <div class="spec24">
            <h2>Specifications</h2>
            <table>
                <tr>
                    <td>Passenger Capacity</td>
                    <td>4</td>
                </tr>
                <tr>
                    <td>Max Range</td>
                    <td>930 nm</td>
                </tr>
                <tr>
                    <td>Max Cruise Speed</td>
                    <td>145 knots</td>
                </tr>
                <tr>
                    <td>Max Takeoff Weight</td>
                    <td>3,100 lbs</td>
                </tr>
                <tr>
                    <td>Max Landing Weight</td>
                    <td>3,100 lbs</td>
                </tr>
            </table>









</body>
</html>