<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../../img/skymarland.png" type="image/x-icon">
    <link rel="stylesheet" href="../../style/pc24.css">
    <title>The Pilatus PC-24</title>
</head>
<body>
    <header class="nav1">
        <nav class="nav2">
            <a href="../../../index.html"> <img src="../../img/home.png" alt="Home SkyMarLand" height="15px" class="logonav">Acceuill</a>
            <a href="../location.html"> <img src="../../img/rent.png" alt="Rent SkyMarLand" height="15px" class="logonav">Location</a>
            <a href="../login.html"> <img src="../../img/login.png" alt="Login SkyMarLand" height="15px" class="logonav"> Login/Register</a>
            <a href="../contact.html"> <img src="../../img/contactmail.png" alt="Contact SkyMarLand" height="15px" class="logonav">Contact</a>
        </nav>
    </header>
    
 
        <img src="../../img/pc24dos.jpg" alt="" style="width: 100%; height: auto;">


        <div class="description24">

            <h2>The Pliatus PC-24</h2>

            <p>The Pilatus PC-24 is a light business jet produced by Pilatus Aircraft of Switzerland.
            The aircraft was introduced in 2015 and is the first jet aircraft developed by Pilatus, best known for the PC-12 single-engine turboprop business aircraft. The PC-24 is a twin-engine jet with a supercritical wing, designed to take off from short and unprepared runways. 
            The aircraft is powered by two Williams FJ44 turbofan engines and has a range of 2,000 nautical miles (3,700 km). The PC-24 can carry up to 10 passengers and has a maximum cruise speed of 440 knots (810 km/h). 
            The aircraft is certified for single-pilot operation and has a full glass cockpit with touchscreen avionics. The PC-24 is designed for corporate, charter, and utility missions, and is also used by air ambulance operators and government agencies. The aircraft has a large cargo door for easy loading and unloading of passengers and cargo. 
            The PC-24 is known for its versatility, performance, and reliability, and has been well received by customers around the world.</p>
        </div>












</body>
</html>