<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../../img/skymarland.png" type="image/x-icon">
    <link rel="stylesheet" href="../../style/pc24.css">
    <title>Tecnam P2008</title>
</head>
<body>
    <header class="nav1">
        <nav class="nav2">
            <a href="./../../index.html"> <img src="../../img/home.png" alt="Home SkyMarLand" height="15px" class="logonav">Acceuill</a>
            <a href="#"> <img src="../../img/rent.png" alt="Rent SkyMarLand" height="15px" class="logonav">Location</a>
            <a href="../login.html"> <img src="../../img/login.png" alt="Login SkyMarLand" height="15px" class="logonav"> Login/Register</a>
            <a href="../contact.html"> <img src="../../img/contactmail.png" alt="Contact SkyMarLand" height="15px" class="logonav">Contact</a>
        </nav>
    </header>
    
 
        <img src="../../img/P2008.jpg" alt="" style="width: 100%; height: auto;">


        <div class="description24">

            <h2>Tecnam P2008</h2>

            <p>



            The Tecnam P2008 is a light sport aircraft produced by Tecnam of Italy. The aircraft was introduced in 2009 and is designed for training, touring, and personal use. 
            The P2008 is a high-wing monoplane with a tricycle landing gear and a bubble canopy. The aircraft is powered by a Rotax 912ULS four-cylinder engine and has a range of 700 nautical miles (1,300 km). 
            The P2008 can carry up to two passengers and has a maximum cruise speed of 120 knots (220 km/h). The aircraft is certified for day and night VFR flight and has a full glass cockpit with analog and digital instruments. 
            The P2008 is known for its low operating costs, ease of maintenance, and excellent flight characteristics, and has been well received by flight schools and private pilots around the world.



            </p>
        </div>


        <div class="spec24">
            <h2>Specifications</h2>
            <table>
                <tr>
                    <td>Passenger Capacity</td>
                    <td>2</td>
                </tr>
                <tr>
                    <td>Max Range</td>
                    <td>700 nm</td>
                </tr>
                <tr>
                    <td>Max Cruise Speed</td>
                    <td>120 knots</td>
                </tr>
                <tr>
                    <td>Max Takeoff Weight</td>
                    <td>1,320 lbs</td>
                </tr>
                <tr>
                    <td>Max Landing Weight</td>
                    <td>1,320 lbs</td>
                </tr>
            </table>









</body>
</html>